<script type="text/javascript">if(void 0===MauticSDKLoaded){var MauticSDKLoaded=!0,head=document.getElementsByTagName("head")[0],script=document.createElement("script");script.type="text/javascript",script.src="https://mailing.lukem.net/media/js/mautic-form.js",script.onload=function(){MauticSDK.onLoad()},head.appendChild(script);var MauticDomain="https://mailing.lukem.net",MauticLang={submittingMessage:"Please wait..."}}</script>