<meta name="author" content="Łukasz Wójcik">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Łukasz Wójcik - web developer">
<meta name="twitter:description" content="Experienced frontend web developer from Warsaw, Poland. Building modern websites and JavaScript web applications.">
<meta name="twitter:image" content="https://www.lukaszwojcik.net/images/hotlink-ok/share-1200x600.jpg">
<meta property="og:site_name" content="Łukasz Wójcik - web developer">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.lukaszwojcik.net">
<meta property="og:title" content="Łukasz Wójcik - web developer">
<meta property="og:description" content="Experienced frontend web developer from Warsaw, Poland. Building modern websites and JavaScript web applications">
<meta property="og:image" content="https://www.lukaszwojcik.net/images/hotlink-ok/share-1200x630.jpg">