a.downloadButton,
a.downloadButton:visited {
  margin: 0 0 2rem;
  display: inline-block;
  border: 2px solid #ff0071;
  padding: 5px 20px;
  font-weight: 900;
  font-size: 120%;
  -webkit-transition: background 0.2s, color 0.2s; /* Safari */
  transition: background 0.2s, color 0.2s;
}

a.downloadButton:hover,
a.downloadButton:focus {
  text-decoration:none;
  background: #ff0071;
  color:#fff;
  }