---
layout: base
title: Page not found | Łukasz Wójcik
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="section-404">
  <h1>Error 404 😳</h1>
  <p>I tried so hard and got so far. But in the end it didn't even matter.</p>
  <p>The page you are looking for is just not there.</p>
  <p><a class="highlight" href="/">Go to main page</a>
</div>