---
layout: error
title: Page not found
permalink: /404.html
eleventyExcludeFromCollections: true
---

<p><img src="/images/404.jpg" alt="" /></p>
<h1>We couldn't find what you are looking for 😞</h1>
<p>Maybe it doesn't exist. Or the URL is incorrect. Or something else went horribly horribly wrong.</p>
<p>Or maybe you just wanted to see how our error page looks like? Did you?<br/>That's cool. Don't worry, it's only between us. <a href="https://greatergood.berkeley.edu/article/item/six_surprising_benefits_of_curiosity">Curiosity is great</a>.</p>
<div class="nav_links"><a class="btn" href="{{ '/' | url }}">Go to main page</a> or <a class="btn" href="{{ '/' | url }}">Contact us</a></p>