---
layout: page
title:  About
slug: about
permalink: /about/
---

<div class="row">
  <div class="column slideInFromLeft">
    <p><strong>We don't like talking about ourselves. The creator doesn't matter. Creations do.</strong></p>
    <p>Started in 2013 in Warsaw, Poland, Lukem.net is a sole proprietorship company started by <a href="https://www.lukaszwojcik.net/">Łukasz Wójcik</a> to provide web development services in B2B and B2C sectors.</p>
    <p>In less fancy terms, we build custom websites and web applications as well as help businesses develop their own online products. We also research and operate our own projects to serve specific needs of selected target groups.</p>
    <p>Our main focus is the technical part of the web development process, with particular interest in front-end layer (e.g. anything that involves HTML, CSS, JavaScript and other web technologies). We are capable of joining forces with external business departments and graphic designers to deliver synergic web experiences.</p>
  </div>
  <div class="column column-33 slideInFromRight">
    <img src="/images/posing.jpg" alt="">
  </div>
</div>