---
title: About me | Łukasz Wójcik
page_title: Hello there!
layout: base
permalink: /about/
slug: about
---

<p><strong>My name is Łukasz Wójcik</strong>, also known as <strong>Lukem</strong>. Calling me Luke is also fine as long as you know I'm not a son of Darth Vader.</p>
<p>I live in Warsaw, Poland. I'm a web developer, which means I build things that run in web browsers using HTML, CSS and JavaScript. I occasionally dabble in Linux servers, Adobe Photoshop and video editing.</p>
<p>As a lifelong computer nerd I enjoy cracking interesting problems with technology and software and figuring out how things work.</p>
<p>I like video games, photography, electronic music, shooting sports, cats and whisky. Not necessarily in that order and definitely not all of them at the same time.</p>
<p><a class="highlight" href="/docs/lukasz_wojcik_cv_public.pdf"><strong>View my 
resume</strong></a> <a class="highlight" href="https://www.linkedin.com/in/lukaszwojcik/"><strong>Connect with me on LinkedIn</strong></a></p>
