---
title: Łukasz Wójcik - web developer
layout: base
permalink: /
slug: index
description: Experienced frontend and JavaScript web developer from Warsaw, Poland.
---

<div class="section-main">
  <p class="image">
    <img src="/images/photo.png" class="photo" alt="My photo" />
  </p>
  <h1>Hi, I'm Łukasz</h1>
  <p>I'm a web developer. I make things happen with software.</p>
</div>