---
title: Photography | Łukasz Wójcik
page_title: Photography or Luke the documenter
layout: base
permalink: /photography/
slug: photography
---

<p><strong>I'm an enthusiast photographer since 2014.</strong></p>
<p>I look at the world through an imaginary rectangular frame even though I don't take as many pictures as I used to. My primary interests are documentary, history and street photography. I rarely shoot pics to capture beauty. I release the shutter to capture stories as they unfold.</p>
<p>I've taken most of my photos with Nikon DSLRs but I'm slowly drifting towards more streamlined gear. Sometimes my phone camera is more than enough.</p>
<p><strong>See my photos online:</strong> <a class="highlight" href="https://12photos.lukem.net/">12photos.lukem.net</a> or <a class="highlight" href="https://500px.com/p/lwojcik?view=photos">my 500px profile</a></p>
