---
title: Photography | Łukasz Wójcik
page_title: Photography or Luke the documenter
layout: base
permalink: /photography/
slug: photography
---

<p><strong>I'm an enthusiast photographer since 2014.</strong></p>
<p>I don't take as many pictures as I used to but I still look at the world through a rectangular frame. My primary interests include documentary, history and street photography. I rarely shoot pics to capture beauty. I release the shutter to preserve stories being told.</p>
<p>I've taken most of my with Nikon DSLRs but I'm slowly drifting towards lighter and more streamlined gear. Sometimes my phone camera is more than enough.</p>
<p><strong>See also:</strong> <a class="highlight" href="https://12photos.lukem.net/">12photos.lukem.net</a> or <a class="highlight" href="https://500px.com/p/lwojcik?view=photos">my profile on 500px</a></p>