---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<url>
  <loc>https://www.lukaszwojcik.net/</loc>
</url>
<url>
  <loc>https://www.lukaszwojcik.net/about/</loc>
</url>
<url>
  <loc>https://www.lukaszwojcik.net/software/</loc>
</url>
<url>
  <loc>https://www.lukaszwojcik.net/writing/</loc>
</url>
<url>
  <loc>https://www.lukaszwojcik.net/photography/</loc>
</url>
<url>
  <loc>https://www.lukaszwojcik.net/contact/</loc>
</url>
</urlset>
