---
title: Software | Łukasz Wójcik
page_title: Software or Luke the devloper
layout: base
permalink: /software/
slug: software
---

<p><strong>I build websites and web applications since 2010. It's been an amazing journey and I have no plans of stopping any time soon.</strong></p>
<p>But it all started much earlier. In 2001 I published <a href="https://github.com/lwojcik/meloomoto">my first website</a> despite no Internet access at home. In 2006 I was tinkering with PHP and <a href="https://github.com/lwojcik/blogimalistic">coding WordPress themes</a>.</p>
<p>Nowadays, my primary interest is <strong>JavaScript development</strong> with particular focus on building modern web applications using <strong>React</strong>, <strong>TypeScript</strong> and <strong>Node.js</strong>.</p>
<p>I like trying different hats whenever I can. I sometimes build full-stack applications with Fastify and MongoDB, configure Linux servers, write <a href="https://github.com/lwojcik?tab=repositories&q=ansible">Ansible roles</a>, set up automated workflows with existing tools and so on.</p>
<p>For more information on my web development services check out <a class="highlight" href="https://www.lukem.net/">Lukem.net</a></p>
<p>You can also <a class="highlight" href="https://github.com/lwojcik">follow me on GitHub</a></p>
