---
title: Writing | Łukasz Wójcik
page_title: Writing or Luke the... blogger? Author?
layout: base
permalink: /writing/
slug: writing
---

<p><strong>I write whenever people want to read. I like sharing insights and explaining the complicated.</strong></p>
<h3>Blogging</h3>
<p>I'm planning to get back to blogging in 2021. TODO: add the link here.</p>
<p>Other than that, I started and cancelled numerous blogging projects between 2004 and 2015. One of my old blogs is <a href="https://archiwum.lukem.net/"><strong>still available online</strong></a>.</p>
<h3>Books</h3>
<p>There are three so far. Mostly about WordPress. There may be more someday, who knows.</p>
<p><a class="highlight" href="https://helion.pl/autorzy/lukasz-wojcik"><strong>My books on Helion.pl</strong></a> <a class="highlight" href="https://escapemagazine.pl/autorzy/54-lukasz-wojcik"><strong>My books on EscapeMagazine.pl</strong></a></p>
<p></p> 