---
title: Writing | Łukasz Wójcik
page_title: Writing or Luke the... blogger? Author?
layout: base
permalink: /writing/
slug: writing
---

<p><strong>I write whenever people want to read. I like sharing insights and explaining the complicated.</strong></p>
<h3>Blogging</h3>
<p>Since June 2021 I write long personal pieces on <a href="https://www.offbeatbits.com/">Offbeat Bits</a>. I mix my personal thoughts with various takes on technology, internet, media, society and how it all interplays with each other.</p>
<p>Between 2004 and 2015 I started and cancelled numerous blogging projects. One of my old blogs written in Polish is <a href="https://archiwum.lukem.net/"><strong>still available online</strong></a>.</p>
<h3>Books</h3>
<p>I wrote three books that sold in five thousand copies. Mostly about WordPress. I may write more someday, who knows.</p>
<p><a class="highlight" href="https://helion.pl/autorzy/lukasz-wojcik"><strong>My books on Helion.pl</strong></a> <a class="highlight" href="https://escapemagazine.pl/autorzy/54-lukasz-wojcik"><strong>My books on EscapeMagazine.pl</strong></a></p>
