<section id="section-about">
  <div class="container">
    <div class="box">
      <div class="content">
        <div class="wrapper">
          <h2 class="title has-text-weight-normal">Hi there!</h2>
          <p><strong>I'm Łukasz</strong>, also known as <strong>Lukem</strong>. People sometimes call me Luke and this is fine as long as they know I'm not a son of Darth Vader.</p>
          <p>I live in Warsaw, Poland. I'm a web developer, which in simpler terms means I build things that run in web browsers using HTML, CSS, JavaScript and other fancy keywords. I occasionally dabble in Linux servers, Adobe Photoshop and video editing.</p>
          <p>As a lifelong computer nerd I like figuring out how things work and cracking interesting problems with technology and software.</p>
          <p>I like video games, photography, electronic music, shooting sports, cats and whisky. Not necessarily in that order and definitely not all of them at the same time.</p>
          <p>Check <a href="https://www.linkedin.com/in/lukaszwojcik/">my LinkedIn profile</a> and <a href="https://stackoverflow.com/cv/lukaszwojcik">my CV on StackOverflow</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>