<section id="section-contact">
  <div class="container">
    <div class="box">
      <div class="content">
        <div class="wrapper">
          <h2 class="title has-text-weight-normal">Contact</h2>
          <p>Email: <a href="mailto:lwojcik@lukem.net">lwojcik@lukem.net</a></p>
          <p>Or <a href="https://www.linkedin.com/in/lukaszwojcik/">get in touch on LinkedIn</a></p>
      </div>
    </div>
  </div>
</section>