<section id="section-contact" class="container">
  <div class="card-wrapper">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">Contact</p>
          </div>
        </div>
        <div class="content">
          Contact
        </div>
      </div>
    </div>
  </div>
</section>