<section id="section-main" class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="image">
        <img src="/images/photo.jpg" class="photo" alt="My photo" />
      </p>
      <h1>Łukasz Wójcik</h1>
    </div>
  </div>
</section>