<section id="section-main" class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="image">
        <img src="/images/photo.jpg" class="photo" alt="My photo" />
        <img src="/images/photo2.jpg" class="photo2" style="display:none" alt="Also my photo haha" />
      </p>
      <h1>Łukasz Wójcik</h1>
    </div>
  </div>
</section>