<section id="section-photography">
  <div class="container">
    <div class="box">
      <div class="content">
        <div class="wrapper">
          <h2 class="title has-text-weight-normal">Photography</h2>
          <p><strong>I'm an enthusiast photographer since 2014.</strong></p>
          <p>I don't take as many pictures as I used to but I still look at the world through a rectangular frame. My primary interests include documentary, history and street photography. I release the shutter to preserve moments.</p>
          <p>I've taken most of my with Nikon DSLRs but I'm slowly drifting towards lighter gear.</p>
          <p>See my photos on <a href="https://12photos.lukem.net/">12photos.lukem.net</a> or check <a href="https://500px.com/p/lwojcik?view=photos">my profile on 500px</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>