<div id="section-software" class="container">
  <div class="card-wrapper">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            
          </div>
          <div class="media-content">
            <p class="title is-4">software</p>
          </div>
        </div>

        <div class="content">
          software
        </div>
      </div>
    </div>
  </div>
</div>