<section id="section-software">
  <div class="container">
    <div class="box">
      <div class="content">
        <div class="wrapper">
          <h2 class="title has-text-weight-normal">Software</h2>
          <p><strong>I've been building websites and web applications since early 2000s. Since 2010 I do it full-time. It's been an amazing journey and I have no plans of stopping any time soon.</strong></p>
          <p>My primary interest is <strong>JavaScript development</strong> with particular focus on React and TypeScript. But I like trying different hats whenever I can. I sometimes build full-stack web applications with TypeScript and Node.js, configure Linux servers, write Ansible roles, set up automated workflows with existing tools and so on.</p>
          <p>For more information on my web development services check out <a href="https://www.lukem.net/">Lukem.net</a>.</p>
          <p><a href="https://github.com/lwojcik">Follow me on GitHub</a></p>
        </div>
      </div>
    </div>
  </div>
</section>