<section id="section-writing">
  <div class="container">
    <div class="box">
      <div class="content">
        <div class="wrapper">
          <h2 class="title has-text-weight-normal">Writing</h2>
          <p><strong>I write whenever people want to read. I like sharing thoughts and explaining the complicated.</strong></p>
          <h3 class="title has-text-weight-normal">Blogging</h3>
          <p>I'm planning to get back to blogging in 2021. TODO: add the link here.</p>
          <p>Other than that I started and cancelled numerous blogging projects between 2004 and 2015. One of my old blogs is <a href="https://archiwum.lukem.net/">still available online</a>.</p>
          <h3 class="title has-text-weight-normal">Books</h3>
          <p>I wrote three books so far, mostly on WordPress. There may be more someday, who knows.</p>
          <p><a href="https://helion.pl/autorzy/lukasz-wojcik">My books on Helion.pl</a></p>
          <p><a href="https://escapemagazine.pl/autorzy/54-lukasz-wojcik">My books on EscapeMagazine.pl</a></p> 
      </div>
    </div>
  </div>
</section>