{% set js %}
{% include "scripts/scripts.js" %}
{% endset %}
<script src="/js/vendors/konami.min.js"></script>
<script src="/js/vendors/css-camera.min.js"></script>
<script>{{ js | jsmin | safe }}</script>