/*
Switch to https://www.npmjs.com/package/typeface-lato
once @KyleMathews adds support for subsetted fonts
zażółć gęślą jaźń ffs :(
*/

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

a,
a:hover,
a:focus,
a:visited {
  color: #ff0071;
  font-weight: 900;
  padding: 5px 6px;
}

a:hover,
a:focus {
  outline-color: #ff0071;
  text-decoration: underline;
}

p, li, a.btn {
  font-size: 1.3rem;
  line-height: 1.4;
}

h1 {
  font-weight: 900;
  font-size: 36px;
}

.mainSection {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2rem;
    margin-bottom: 2rem;
}