body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  color: #222;
  max-width: 45rem;
  padding: 2rem;
  margin: auto;
  background: #fafafa;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  height: auto;
  box-shadow: 3px 3px 7px 0 #e0e0e0;
}

a {
  color: #ff0071;
  text-decoration: none;
  font-weight: 700;
  padding: 5px 6px;
}

a:focus,
a:hover {
  text-decoration: underline;
}

h1,
h2,
strong {
  color: #111;
}

h2 {
  margin-top: 2rem;
}

li {
  display: inline-block;
  list-style: none;
  line-height: 2;
}

li,
p {
  font-size: 1.3rem;
}

p {
  line-height: 1.4;
}

ul {
  padding: 0;
  margin-left: -5px;
  line-height: 1.6;
}

li:not(:last-child):after {
  content: '\2022';
  margin: 0 8px;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 0;
}

.dot {
  margin: 0 8px;
}

.main {
  display: flex;
}

.main,
.main * {
  transition: all .3s ease-out;
}

.photo {
  flex-shrink: 0;
  margin-right: 3rem;
}

@media screen and (max-width:768px) {
  .main {
    display: block;
    text-align: center;
  }

  .photo {
    margin-right: 0;
  }

  h1 {
    margin-top: 1rem;
  }
}
