section
  transform-style: preserve-3d

#section-main
  transform: translateZ(2400px)

#section-about
  transform: rotateX(30deg) rotateY(30deg) translate3d(-90%,-220%,-1200px)

#section-software
  transform: rotateX(-30deg) rotateY(45deg) translate3d(180%, -80%, 200px)

#section-writing
  transform: rotateX(60deg) rotateY(60deg) translate3d(90%, 10%, 0px)

#section-photography
  transform: rotateX(-60deg) rotateY(45deg) translate3d(-90%, -80%, 200px)

#section-contact
  transform: rotateX(60deg) rotateY(63deg) translate3d(-160%,-1200%,-800px)