section
  transform-style: preserve-3d

#section-main
  transform: translateZ(4200px)

#section-about
  transform: rotateX(30deg) rotateY(30deg) translate3d(-115%,-475%, 800px)

#section-software
  transform: rotateX(-30deg) rotateY(45deg) translate3d(500%,-80%,300px)

#section-writing
  transform: rotateX(15deg) rotateY(45deg) translate3d(90%,10%,2400px)

#section-photography
  transform: rotateX(-60deg) rotateY(45deg) translate3d(-150%,-80%,-200px)

#section-contact
  transform: rotateX(60deg) rotateY(60deg) translate3d(-160%,-500%,-3000px)