.vcard {
  background: #ededed;
  margin: 0 0 2rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  height: auto;
  box-shadow: 3px 3px 7px 0 #e0e0e0;

  h2 {
    margin: 0 0 1rem;
    padding: 0;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .tagline {
    font-style: italic;
    margin-bottom: 2rem;
  }

  .links a {
    margin-right: 1rem;
  }

  .photo {
    max-width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    line-height: 1;

    img {
      max-width: 150px;
      min-height: 150px;
      margin: 0;
      padding: 0;
    }
  }

  .details {
    margin-left: 2rem;
    margin: 0;
    padding: 0;
  }
}