@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-3%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(3%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideInFromLeft {
  animation: .3s ease-in 0s 1 slideInFromLeft;
}

.slideInFromRight {
  animation: .3s ease-in 0s 1 slideInFromRight;
}

@media (prefers-reduced-motion) {
  .slideInFromLeft,
  .slideInFromRight {
    animation: none;
  }
}