<footer>
  <small>&copy; 2009-{{ page.date.getFullYear() }} <a href="https://www.lukem.net/">Lukem.net</a></small>
</footer>
<div style="display:none">
<a rel="me" href="https://mastodon.social/@lukem"></a>
</div>
