<header class="header">
  <menu>
    <a href="/" class="logo" id="button-main">
      <img src="/images/logo.png" alt="Łukasz Wójcik" />
    </a>

    <a href="/about/" id="button-about">
      About me
    </a>

    <a href="/software/" id="button-software">
      Software
    </a>

    <a href="/writing/" id="button-writing">
      Writing
    </a>

    <a href="/photography/" id="button-photography">
      Photography
    </a>

    <a href="/contact/" id="button-contact">
      Contact
    </a>
  </menu>
</header>