<ul class="menu">
  <li>
    <a href="/work">
      About me
    </a>
  </li>
  <li>
    <a href="/services">
      Writing
    </a>
  </li>
  <li>
    <a href="/services">
      Photography
    </a>
  </li>
  <li>
    <a href="/contact">
      Contact
    </a>
  </li>
</ul>