<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }} - {% endif %}Lukem.net</title>
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href='/styles/main.css'>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#005182">
    <meta name="theme-color" content="#ffffff">
    <meta name="mobile-web-app-capable" content="yes">
    {% include "meta/seo.njk" %}    
  </head>
  <body class="{{ type or 'index' }} page-{{ slug }}">
  <div id="space">
      <section id="hero" class="hero is-white is-fullheight">
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="title"><i class="fas fa-camera-retro"></i> CSS-CAMERA</h1>
            <h2 class="subtitle">Add depth to your web page with CSS3 3D transform.</h2>
            <a class="button is-white" href="./release/latest/docs/index.html">
              <span class="icon"><i class="fas fa-book"></i></span>
              <span>Documents</span>
            </a>
            <a class="button is-white" href="https://github.com/WoodNeck/css-camera">
              <span class="icon"><i class="fab fa-github"></i></span>
              <span>Github</span>
            </a>
          </div>
        </div>
        <div class="container is-fluid">
          <div class="container">
            <h1 class="title"><i class="fas fa-cog"></i> Install</h1>
            <div class="notification">$ npm i css-camera</div>
          </div>
        </div>
      </section>
      <div id="card" class="container">
        <div class="card-wrapper">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <p>empty</p>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="https://avatars0.githubusercontent.com/u/26213435?s=460&v=4" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">WoodNeck</p>
                  <p class="subtitle is-6">@woodneck</p>
                </div>
              </div>

              <div class="content">
                You can put any HTML element you like, then just transform it.
                <a href="https://github.com/WoodNeck/css-camera">@css-camera</a> will do the rest for you.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="code" class="container">
        <h1 class="title">It's super simple!</h1>
        <pre><code class="camera-code js">// Prerequisite:
// Create your scene as you like
const card = document.querySelector("#card");
const cardButton = document.querySelector("#card-button");

// First, make camera
const camera = new CSSCamera("#space");

// Call its method, then update it!
cardButton.onclick = () => {
  // Move camera in front of "card"
  camera.focus(card);
  camera.update(2000);
}</code></pre>
        <h1 class="title is-size-5-mobile">See the <a href="https://github.com/WoodNeck/css-camera/blob/master/demo/js/index.js">source</a> of this page.</h1>
      </div>

      <div id="more" class="container">
        <h1 class="title has-text-centered">More demos?</h1>
        more
      </div>
    </div>
    <header class="page-header-container">
      <div class="page-header-buttons">
        <span>🎥</span>
        <a id="hero-button" class="button is-link">Main</a>
        <a id="card-button" class="button is-link is-outlined">Card</a>
        <a id="code-button" class="button is-link is-outlined">Code</a>
        <a id="more-button" class="button is-link is-outlined">More</a>
      </div>
    </header>
    {# <div class="wrapper">
      {% include "partials/header.njk" %}
      {{ content | safe }}
    </div>
    <div id="space">
      <div id="card">Card</div>


      <div id="card-button">Card button</div>
    </div> #}
    {% include "partials/scripts/common.njk" %}
  </body>
</html>
