---
layout: base
type: error
---

<main class="content">
  <div class="container">
    <div class="row">
      <div class="column">
        {{ content | safe }}
      </div>
    </div>
  </div>
</main>
