/*
Switch to https://www.npmjs.com/package/typeface-lato
once @KyleMathews adds support for subsetted fonts
zażółć gęślą jaźń ffs :(
*/

@import url('//fonts.googleapis.com/css?family=Lato:400,900&amp;subset=latin,latin-ext');

a,
a:hover,
a:focus,
a:visited {
  color: #ff0071;
  font-weight: bold;
  padding: 3px 6px;
}

a:hover,
a:focus {
  outline-color: #ff0071;
  text-decoration: underline;
}

p, li, a.btn {
  font-size: 1.3rem;
  line-height: 1.4;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  margin-top: 1.25rem;
}